<div class="team-member">
  <h2 class="h4 center mt-5 mb-0">
    {{ block.settings.team_member_name }}
  </h2>
  <h2 class="h5 center mt-0 font-weight-300">
    {{ block.settings.team_member_position }}
  </h2>
  <p class="description center">
    {{ block.settings.team_member_description }}
  </p>
</div>
