
/* ------------------
    TYPOGRAPHY
------------------ */

h1,h2,h3,h4,h5,h6 {
    font-weight: 900 !important;
	line-height: 1;
	letter-spacing: -0.02em;
}

h1, .h1, .md-h1 { font-size:42px; }
h2, .h2, .md-h2 { font-size:36px; }
h3, .h3, .md-h3 { font-size:28px; }
h4, .h4, .md-h4 { font-size:24px; }
h5, .h5, .md-h5 { font-size:20px; }
h6, .h6, .md-h6 { font-size:18px; }

@media(min-width:768px) {
	h1, .h1, .md-h1 { font-size:54px; }
}

@media(min-width:1025px) {
	h1, .h1, .lg-h1 { font-size:64px; }
	h2, .h2, .lg-h2 { font-size:40px; }
	h3, .h3, .lg-h3 { font-size:32px; }
	h4, .h4, .lg-h4 { font-size:24px; }
	h5, .h5, .lg-h5 { font-size:20px; }
	h6, .h6, .lg-h6 { font-size:18px; }
}

/* ------------------
    COLORS
------------------ */

/* Colors & Global Vars */
:root {
	--color-body: #282F33;;
	--color-black: #000;
	--color-brand-green: #D1D84D;
	--color-white: #fff;

}

.color-brand-green { color: var(--color-brand-green); }
.bg-brand-green { background-color: var(--color-brand-green); }
.color-body { color: var(--color-body); }
.bg-body { background-color: var(--color-body); }
.color-white { color: var(--color-white); }
.bg-white { background-color: var(--color-white); }
.color-black { color: var(--color-black); }
.bg-black { background-color: var(--color-black); }



/* ------------------
    PAGE WIDTH
------------------ */

.page-width {
    padding: 0 1.5rem;
}

.header.page-width,
	.utility-bar__grid.page-width {
	  padding-left: 1.5rem;
	  padding-right: 1.5rem;
	}

@media screen and (min-width: 750px) {
	.page-width {
	  padding: 0 5rem;
	}
  
	.header.page-width,
	.utility-bar__grid.page-width {
	  padding-left: 5rem;
	  padding-right: 5rem;
	}
}

/* ------------------
    HEADER
------------------ */

@media(max-width: 989px) {
    .header__heading-logo {
        width: 120px !important;
    }
}

/* move nav hamburger to the right */
.header--top-left.drawer-menu, .header--middle-left.drawer-menu {
    grid-template-areas: 'heading icons navigation' !important;
    grid-template-columns: auto 1fr auto !important;
    column-gap: 1rem !important;
}

header-drawer {
    margin-left: 0 !important;
}

.section-header {
    margin-bottom: -70px !important;
}

.section-header .header-wrapper {
    transition: background-color 0.3s ease-out;
}

.section-header:not(.scrolled-past-header) .header-wrapper {
    background-color: transparent !important;
    border-bottom: none !important;
}

@media(min-width: 990px) {
    .section-header {
        margin-bottom: -115px !important;
    }

    .header__icon--menu {
        margin-left: 20px !important;
    }

    .header__icon--menu .icon {
        width: 48px !important;
        height: 34px !important;
    }
}

.header__icon--menu[aria-expanded='true']::before {
    background: rgba(0, 0, 0, 0.5) !important;
}

/* ------------------
    FOOTER
------------------ */

.pre-footer {
	aspect-ratio: 1 / 1;
	padding: 20px 0;
}

.pre-footer .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.pre-footer .background:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	z-index: 1;
}

.pre-footer .icon-logo {
	width:80px;
}

.pre-footer .icon-logo svg {
	display: block;
	width: 100%;
}

.pre-footer .icon-logo svg path {
	fill: var(--color-brand-green);
}

.pre-footer .h1 {
	line-height: 0.9;
	margin-bottom: 40px;
}

@media(min-width:1025px) {

	.pre-footer {
		aspect-ratio: 1 / 0.58;
		padding: 20px 0;
	}

	.pre-footer .h1 {
		font-size: 152px;
		margin-bottom: 80px;
	}

	.pre-footer .icon-logo {
		width:110px;
	}
}

.footer {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
	margin-top: 0 !important;
	position: relative;
}

.footer:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:27px;
	background-color: var(--color-brand-green);
}

.footer-block:only-child:last-child {
    max-width: none !important;
}

.footer-block .footer-block__brand-info {
    text-align: left !important;
    border-bottom: 1px solid #000;
}

.footer-block .footer-block__brand-info .footer-block__heading {
    font-weight: 400 !important;
    font-size: 30px;
    max-width: 660px;
}

.footer__content-bottom {
    border-top: none !important;
}

.footer__content-bottom-wrapper--center {
    justify-content: flex-start !important;
}

.copyright__content {
    font-size: 12px !important;
    text-transform: uppercase;
}

.footer__content-top {
    padding-bottom: 0 !important;
    display: block;
}

.footer__content-bottom-wrapper--center {
    padding-left: calc(4rem / var(--font-body-scale));
    padding-right: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
    .footer__content-bottom-wrapper--center {
       padding-left: 5rem;
       padding-right: 5rem;
    }
}

@media(min-width: 640px) {
    .footer-block .footer-block__brand-info {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        padding-bottom: 20px;
        column-gap: 20px;
    }

    .footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
        margin-left: auto;
        margin-right: 0px !important;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

@media(min-width: 990px) {

    .footer {
        padding-top: 300px !important;
        padding-bottom: 300px !important;
    }

    .footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
        margin-right: 50px !important;
    }

    .footer-block .footer-block__brand-info .footer-block__heading {
        font-size: 50px !important;
    }
}

.footer-block__image-wrapper.svg-wrapper {
	max-width: min(100%, 120px);
	width: 120px !important;
	height: 84px !important;
}

.footer-block__image-wrapper.svg-wrapper svg {
	width: 100% !important;
	height: 100% !important;
	object-fit: contain;
}

body:not(.template-index) .footer {
	background-color: #2B363B !important;
	color: var(--color-brand-green) !important;
}

body:not(.template-index) .footer * {
	color: var(--color-brand-green) !important;
}

body:not(.template-index) .footer-block .footer-block__brand-info {
    border-bottom: 1px solid var(--color-brand-green) !important;
}

body:not(.template-index) .footer-block__image-wrapper.svg-wrapper svg path {
	fill: var(--color-brand-green) !important;
}

/* ------------------
    PRODUCT
------------------ */

.product-wrapper-inner {
	padding: 40px;
}

@media(min-width: 1025px) {
    .product-wrapper-inner {
        padding: 80px;
    }
}

.product-header-background-image {
	height: 100vh;
	top: 0;
	left: 0;
}

.product-header-background-image:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    transform: translateY(0px);
}

/* Colors & Global Vars */
:root {
	--color-body: #000;
	--color-black: #000;
	--color-black-light: #292F33;
	--color-white: #fff;
	--color-blue: #3A64FF;
	--color-red: #E52331;
	--color-grey: #626262;
	--color-grey-dark: #303030;
	--color-body: #313029;
    --color-green: #CFD821;

	--gutter-sm: 22px;
	--gutter-lg: 100px;

	--margin-sm: 8px;
	--margin-md: 32px;
	--margin-lg: 40px;
	--margin-xlg: 60px;

	--header-ht:150px;
	--header-scrolled-ht:70px;

	--mobile-header-ht:54px;
	--mobile-header-scrolled-ht:50px;

	--page-width: calc(1445px + 10rem);
}

.color-body { color:var(--color-body); }
.color-black { color:var(--color-black); }
.color-black-light { color:var(--color-black-light); }
.color-blue { color:var(--color-blue); }
.color-red { color:var(--color-red); }
.color-grey { color:var(--color-grey); }
.color-grey-dark { color:var(--color-grey-dark); }
.color-white { color:var(--color-white); }
.color-green { color:var(--color-green); }
.bg-white { background-color:var(--color-white); }
.bg-black { background-color:var(--color-black); }
.bg-blue { background-color:var(--color-blue); }
.bg-red { background-color:var(--color-red); }
.bg-grey { background-color:var(--color-grey); }
.bg-grey-dark { background-color:var(--color-grey-dark); }
.bg-green { background-color:var(--color-green); }
::selection {
  background: var(--color-green);
  color: var(--color-black);
}


/* Utility */

.clear { clear:both; }
.clear-after:after { content:''; display:block; clear:both; }
.center { text-align:center; }
.align-left { text-align:left; }
.relative { position:relative; }
.absolute { position:absolute; }
.overflow-hidden { overflow:hidden; }
.width-100 { width:100%; }
.max-width-640 { max-width:640px; }
.max-width-750 { max-width:750px; }
.max-width-800 { max-width:800px; }
.disable-transitions { transition:none !important; }
.hidden { display:none !important; }
.bg-contain { background-size:contain; background-repeat:no-repeat; }
.bg-cover { background-size:cover; background-repeat:no-repeat; }
.radius-25 { border-radius:25px; }
.radius-20 { border-radius:20px; }
.radius-18 { border-radius:18px; }
.radius-15 { border-radius:15px; }
.radius-12 { border-radius:12px; }
.circle { border-radius:999px; }
.side-margin-auto { margin-left:auto; margin-right:auto; }
.uppercase { text-transform:uppercase; }
.underline { text-decoration:underline; }
.z-index-1 { z-index:1; }
.z-index-2 { z-index:2; }
.pointer { cursor:pointer; }
.ratio-1-1 { aspect-ratio: 1/1; }
.visually-hidden { 
  /* Contain text within 1px box */
  height: 1px; 
  overflow: hidden;
  width: 1px;
  /* Keep the layout */  
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

/* Flex */
.flex-container { display:flex; }
.row-wrap { flex-flow: row wrap; }
.flow-column { flex-flow: column; }
.row-reverse { flex-direction: row-reverse; }
.column-reverse { flex-direction: column-reverse; }
.space-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-right { justify-content: right; }
.justify-flex-end { justify-content: flex-end; }
.align-center { align-items: center; }
.align-flex-end { align-items: flex-end; }
.flex-grow-1 { flex-grow:1; }
.flex-shrink-0 { flex-shrink:0; }
.order-1 { order:1; }
.order-2 { order:2; }
.flex-basis-75 { flex-basis:75%; }
.flex-basis-65 { flex-basis:65%; }
.flex-basis-60 { flex-basis:60%; }
.flex-basis-50 { flex-basis:50%; }
.flex-basis-45 { flex-basis:45%; }
.flex-basis-40 { flex-basis:40%; }
.flex-basis-33 { flex-basis:33.333333%; }
.column-gap-20 { column-gap:20px; }
.column-gap-40 { column-gap:40px; }
.column-gap-45 { column-gap:45px; }
.column-gap-60 { column-gap:60px; }
.column-gap-80 { column-gap:80px; }

@media(min-width:1025px) {
	.lg-flex-basis-65 { flex-basis:65%; }
	.lg-flex-basis-60 { flex-basis:60%; }
	.lg-flex-basis-50 { flex-basis:50%; }
	.lg-flex-basis-45 { flex-basis:45%; }
	.lg-flex-basis-40 { flex-basis:40%; }
	.lg-flex-basis-33 { flex-basis:33.333333%; }
}

@media(max-width: 1024px) {
	.flex-clear-1024 {
		display: block;
	}
}

@media(max-width: 960px) {
	.flex-clear-960 {
		display: block;
	}
}

@media(max-width: 767px) {
  .flex-clear-767 {
    display: block;
  }
}



.block { display:block; }
img.block {
	display:block;
	width:100%;
	height: auto;
}

img.object-fit-cover, img.object-fit-contain {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}

img.object-fit-contain {
	object-fit:contain;
}

.object-position-top { object-position: top center; }

/* Buttons */
.button {
    font-family: "Oswald", Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

@media(min-width: 990px) {
    .button {
        padding: 0 40px;
    }
}

.button, .button--black {
    background-color: var(--color-black);
    color: var(--color-green);
	border: 1px solid var(--color-green);
}

.button--green {
    background-color: var(--color-green);
    color: var(--color-black);
	border: 1px solid var(--color-black);
}


/* Margins */

.v-margin-lg { 
	margin-top:var(--margin-lg);
	margin-bottom:var(--margin-lg);
}
.v-margin-md {
	margin-top:var(--margin-md);
	margin-bottom:var(--margin-md);
}
.v-margin-sm {
	margin-top:var(--margin-sm);
	margin-bottom:var(--margin-sm);
}
.btn.h-margin-sm {
	margin-left:var(--margin-sm);
	margin-right:var(--margin-sm);
	display: block;
	float: left;
}

a.h-margin-sm {
	margin-left:var(--margin-sm);
	margin-right:var(--margin-sm);
	font-weight: bold;
}

.mb-lg { margin-bottom:var(--margin-lg); }
.mb-md { margin-bottom:var(--margin-md); }
.mb-sm { margin-bottom:var(--margin-sm); }

.mt-lg { margin-top:var(--margin-lg); }
.mt-md { margin-top:var(--margin-md); }
.mt-sm { margin-top:var(--margin-sm); }


.v-pad-xlg {
	padding-top:var(--margin-xlg);
	padding-bottom:var(--margin-xlg);
}
.v-pad-lg {
	padding-top:var(--margin-lg);
	padding-bottom:var(--margin-lg);
}
.v-pad-md {
	padding-top:var(--margin-md);
	padding-bottom:var(--margin-md);
}
.v-pad-sm {
	padding-top:var(--margin-sm);
	padding-bottom:var(--margin-sm);
}

.mt-0  { margin-top:0px !important; }
.mt-1  { margin-top:4px !important; }
.mt-2  { margin-top:8px !important; }
.mt-3  { margin-top:16px !important; }
.mt-4  { margin-top:24px !important; }
.mt-5  { margin-top:32px !important; }
.mt-6  { margin-top:48px !important; }
.mt-7  { margin-top:64px !important; }
.mt-8  { margin-top:80px !important; }
.mt-9  { margin-top:128px !important; }
.mt-10 { margin-top:160px !important; }

.mb-0  { margin-bottom:0px !important; }
.mb-1  { margin-bottom:4px !important; }
.mb-2  { margin-bottom:8px !important; }
.mb-3  { margin-bottom:16px !important; }
.mb-4  { margin-bottom:24px !important; }
.mb-5  { margin-bottom:32px !important; }
.mb-6  { margin-bottom:48px !important; }
.mb-7  { margin-bottom:64px !important; }
.mb-8  { margin-bottom:80px !important; }
.mb-9  { margin-bottom:128px !important; }
.mb-10 { margin-bottom:160px !important; }

.v-margin-0  { margin-top:4px !important; margin-bottom:0px !important; }
.v-margin-1  { margin-top:4px !important; margin-bottom:4px !important; }
.v-margin-2  { margin-top:8px !important; margin-bottom:8px !important; }
.v-margin-3  { margin-top:16px !important; margin-bottom:16px !important; }
.v-margin-4  { margin-top:24px !important; margin-bottom:24px !important; }
.v-margin-5  { margin-top:32px !important; margin-bottom:32px !important; }
.v-margin-6  { margin-top:48px !important; margin-bottom:48px !important; }
.v-margin-7  { margin-top:64px !important; margin-bottom:64px !important; }
.v-margin-8  { margin-top:80px !important; margin-bottom:80px !important; }
.v-margin-9  { margin-top:128px !important; margin-bottom:128px !important; }
.v-margin-10 { margin-top:160px !important; margin-bottom:160px !important; }

/* Specific Margins: */
.mt-40 { margin-top:40px; }

/* Padding */
.pt-0  { padding-top:0px !important; }
.pt-1  { padding-top:4px !important; }
.pt-2  { padding-top:8px !important; }
.pt-3  { padding-top:16px !important; }
.pt-4  { padding-top:24px !important; }
.pt-5  { padding-top:32px !important; }
.pt-6  { padding-top:48px !important; }
.pt-7  { padding-top:64px !important; }
.pt-8  { padding-top:80px !important; }
.pt-9  { padding-top:128px !important; }
.pt-10 { padding-top:160px !important; }

.pb-0  { padding-bottom:0px !important; }
.pb-1  { padding-bottom:4px !important; }
.pb-2  { padding-bottom:8px !important; }
.pb-3  { padding-bottom:16px !important; }
.pb-4  { padding-bottom:24px !important; }
.pb-5  { padding-bottom:32px !important; }
.pb-6  { padding-bottom:48px !important; }
.pb-7  { padding-bottom:64px !important; }
.pb-8  { padding-bottom:80px !important; }
.pb-9  { padding-bottom:128px !important; }
.pb-10 { padding-bottom:160px !important; }

.v-pad-0  { padding-top:0px !important; padding-bottom:0px !important; }
.v-pad-1  { padding-top:4px !important; padding-bottom:4px !important; }
.v-pad-2  { padding-top:8px !important; padding-bottom:8px !important; }
.v-pad-3  { padding-top:16px !important; padding-bottom:16px !important; }
.v-pad-4  { padding-top:24px !important; padding-bottom:24px !important; }
.v-pad-5  { padding-top:32px !important; padding-bottom:32px !important; }
.v-pad-6  { padding-top:48px !important; padding-bottom:48px !important; }
.v-pad-7  { padding-top:64px !important; padding-bottom:64px !important; }
.v-pad-8  { padding-top:80px !important; padding-bottom:80px !important; }
.v-pad-9  { padding-top:128px !important; padding-bottom:128px !important; }
.v-pad-10 { padding-top:160px !important; padding-bottom:160px !important; }

@media(min-width:960px) {
	/* Tablet margin and padding */
	/* Margins */
	
	.v-margin-lg {
		margin-top:var(--margin-xlg);
		margin-bottom:var(--margin-xlg);
	}
	.mb-lg { margin-bottom:var(--margin-xlg); }
	.mt-lg { margin-top:var(--margin-xlg); }
	
	.v-pad-lg {
		padding-top:var(--margin-xlg);
		padding-bottom:var(--margin-xlg);
	}
	
	.md-mt-0  { margin-top:0px !important; }
	.md-mt-1  { margin-top:4px !important; }
	.md-mt-2  { margin-top:8px !important; }
	.md-mt-3  { margin-top:16px !important; }
	.md-mt-4  { margin-top:24px !important; }
	.md-mt-5  { margin-top:32px !important; }
	.md-mt-6  { margin-top:48px !important; }
	.md-mt-7  { margin-top:64px !important; }
	.md-mt-8  { margin-top:80px !important; }
	.md-mt-9  { margin-top:128px !important; }
	.md-mt-10 { margin-top:160px !important; }

	.md-mb-0  { margin-bottom:0px !important; }
	.md-mb-1  { margin-bottom:4px !important; }
	.md-mb-2  { margin-bottom:8px !important; }
	.md-mb-3  { margin-bottom:16px !important; }
	.md-mb-4  { margin-bottom:24px !important; }
	.md-mb-5  { margin-bottom:32px !important; }
	.md-mb-6  { margin-bottom:48px !important; }
	.md-mb-7  { margin-bottom:64px !important; }
	.md-mb-8  { margin-bottom:80px !important; }
	.md-mb-9  { margin-bottom:128px !important; }
	.md-mb-10 { margin-bottom:160px !important; }

	.md-v-margin-0  { margin-top:4px !important; margin-bottom:0px !important; }
	.md-v-margin-1  { margin-top:4px !important; margin-bottom:4px !important; }
	.md-v-margin-2  { margin-top:8px !important; margin-bottom:8px !important; }
	.md-v-margin-3  { margin-top:16px !important; margin-bottom:16px !important; }
	.md-v-margin-4  { margin-top:24px !important; margin-bottom:24px !important; }
	.md-v-margin-5  { margin-top:32px !important; margin-bottom:32px !important; }
	.md-v-margin-6  { margin-top:48px !important; margin-bottom:48px !important; }
	.md-v-margin-7  { margin-top:64px !important; margin-bottom:64px !important; }
	.md-v-margin-8  { margin-top:80px !important; margin-bottom:80px !important; }
	.md-v-margin-9  { margin-top:128px !important; margin-bottom:128px !important; }
	.md-v-margin-10 { margin-top:160px !important; margin-bottom:160px !important; }

	/* Padding */
	.md-pt-0  { padding-top:0px !important; }
	.md-pt-1  { padding-top:4px !important; }
	.md-pt-2  { padding-top:8px !important; }
	.md-pt-3  { padding-top:16px !important; }
	.md-pt-4  { padding-top:24px !important; }
	.md-pt-5  { padding-top:32px !important; }
	.md-pt-6  { padding-top:48px !important; }
	.md-pt-7  { padding-top:64px !important; }
	.md-pt-8  { padding-top:80px !important; }
	.md-pt-9  { padding-top:128px !important; }
	.md-pt-10 { padding-top:160px !important; }

	.md-pb-0  { padding-bottom:0px !important; }
	.md-pb-1  { padding-bottom:4px !important; }
	.md-pb-2  { padding-bottom:8px !important; }
	.md-pb-3  { padding-bottom:16px !important; }
	.md-pb-4  { padding-bottom:24px !important; }
	.md-pb-5  { padding-bottom:32px !important; }
	.md-pb-6  { padding-bottom:48px !important; }
	.md-pb-7  { padding-bottom:64px !important; }
	.md-pb-8  { padding-bottom:80px !important; }
	.md-pb-9  { padding-bottom:128px !important; }
	.md-pb-10 { padding-bottom:160px !important; }

	.md-v-pad-0  { padding-top:0px !important; padding-bottom:0px !important; }
	.md-v-pad-1  { padding-top:4px !important; padding-bottom:4px !important; }
	.md-v-pad-2  { padding-top:8px !important; padding-bottom:8px !important; }
	.md-v-pad-3  { padding-top:16px !important; padding-bottom:16px !important; }
	.md-v-pad-4  { padding-top:24px !important; padding-bottom:24px !important; }
	.md-v-pad-5  { padding-top:32px !important; padding-bottom:32px !important; }
	.md-v-pad-6  { padding-top:48px !important; padding-bottom:48px !important; }
	.md-v-pad-7  { padding-top:64px !important; padding-bottom:64px !important; }
	.md-v-pad-8  { padding-top:80px !important; padding-bottom:80px !important; }
	.md-v-pad-9  { padding-top:128px !important; padding-bottom:128px !important; }
	.md-v-pad-10 { padding-top:160px !important; padding-bottom:160px !important; }
}

@media(min-width:1025px) {
	/* Desktop margin and padding */
	/* Margins */
	.lg-mt-0  { margin-top:0px !important; }
	.lg-mt-1  { margin-top:4px !important; }
	.lg-mt-2  { margin-top:8px !important; }
	.lg-mt-3  { margin-top:16px !important; }
	.lg-mt-4  { margin-top:24px !important; }
	.lg-mt-5  { margin-top:32px !important; }
	.lg-mt-6  { margin-top:48px !important; }
	.lg-mt-7  { margin-top:64px !important; }
	.lg-mt-8  { margin-top:80px !important; }
	.lg-mt-9  { margin-top:128px !important; }
	.lg-mt-10 { margin-top:160px !important; }

	.lg-mb-0  { margin-bottom:0px !important; }
	.lg-mb-1  { margin-bottom:4px !important; }
	.lg-mb-2  { margin-bottom:8px !important; }
	.lg-mb-3  { margin-bottom:16px !important; }
	.lg-mb-4  { margin-bottom:24px !important; }
	.lg-mb-5  { margin-bottom:32px !important; }
	.lg-mb-6  { margin-bottom:48px !important; }
	.lg-mb-7  { margin-bottom:64px !important; }
	.lg-mb-8  { margin-bottom:80px !important; }
	.lg-mb-9  { margin-bottom:128px !important; }
	.lg-mb-10 { margin-bottom:160px !important; }

	.lg-v-margin-0  { margin-top:0px !important; margin-bottom:0px !important; }
	.lg-v-margin-1  { margin-top:4px !important; margin-bottom:4px !important; }
	.lg-v-margin-2  { margin-top:8px !important; margin-bottom:8px !important; }
	.lg-v-margin-3  { margin-top:16px !important; margin-bottom:16px !important; }
	.lg-v-margin-4  { margin-top:24px !important; margin-bottom:24px !important; }
	.lg-v-margin-5  { margin-top:32px !important; margin-bottom:32px !important; }
	.lg-v-margin-6  { margin-top:48px !important; margin-bottom:48px !important; }
	.lg-v-margin-7  { margin-top:64px !important; margin-bottom:64px !important; }
	.lg-v-margin-8  { margin-top:80px !important; margin-bottom:80px !important; }
	.lg-v-margin-9  { margin-top:128px !important; margin-bottom:128px !important; }
	.lg-v-margin-10 { margin-top:160px !important; margin-bottom:160px !important; }

	/* Padding */
	.lg-pt-0  { padding-top:0px !important; }
	.lg-pt-1  { padding-top:4px !important; }
	.lg-pt-2  { padding-top:8px !important; }
	.lg-pt-3  { padding-top:16px !important; }
	.lg-pt-4  { padding-top:24px !important; }
	.lg-pt-5  { padding-top:32px !important; }
	.lg-pt-6  { padding-top:48px !important; }
	.lg-pt-7  { padding-top:64px !important; }
	.lg-pt-8  { padding-top:80px !important; }
	.lg-pt-9  { padding-top:128px !important; }
	.lg-pt-10 { padding-top:160px !important; }

	.lg-pb-0  { padding-bottom:0px !important; }
	.lg-pb-1  { padding-bottom:4px !important; }
	.lg-pb-2  { padding-bottom:8px !important; }
	.lg-pb-3  { padding-bottom:16px !important; }
	.lg-pb-4  { padding-bottom:24px !important; }
	.lg-pb-5  { padding-bottom:32px !important; }
	.lg-pb-6  { padding-bottom:48px !important; }
	.lg-pb-7  { padding-bottom:64px !important; }
	.lg-pb-8  { padding-bottom:80px !important; }
	.lg-pb-9  { padding-bottom:128px !important; }
	.lg-pb-10 { padding-bottom:160px !important; }

	.lg-v-pad-0  { padding-top:0px !important; padding-bottom:0px !important; }
	.lg-v-pad-1  { padding-top:4px !important; padding-bottom:4px !important; }
	.lg-v-pad-2  { padding-top:8px !important; padding-bottom:8px !important; }
	.lg-v-pad-3  { padding-top:16px !important; padding-bottom:16px !important; }
	.lg-v-pad-4  { padding-top:24px !important; padding-bottom:24px !important; }
	.lg-v-pad-5  { padding-top:32px !important; padding-bottom:32px !important; }
	.lg-v-pad-6  { padding-top:48px !important; padding-bottom:48px !important; }
	.lg-v-pad-7  { padding-top:64px !important; padding-bottom:64px !important; }
	.lg-v-pad-8  { padding-top:80px !important; padding-bottom:80px !important; }
	.lg-v-pad-9  { padding-top:128px !important; padding-bottom:128px !important; }
	.lg-v-pad-10 { padding-top:160px !important; padding-bottom:160px !important; }
	
}
